#virtualenv
bin/*
easydeploy.fabfile.egg-info/*
include/*
lib/*
local
man/*


#python
*.pyc

#eclipse
.project
.pydevproject
.settings

#vim
*.swp
tags

#sphinx
build/*

#easydeploy saved statuses
easydeploy/core/*.fabstate
easydeploy/core/*.fabstate.fabstate_backup

#wtf
easydeploy/fabfile/.ropeproject/*
dist/*
